@import "_custom-properties.css";
@import "_custom-mixins.css";

:root {
	--blue-theme-color: #000280;
	--dark-blue-theme-color: #006;
}

body.has-blue-theme {

	& a,
	& a:link,
	& a:visited {
		color: var(--blue-theme-color);
	}

	& a:hover,
	& a:focus {
		color: var(--dark-blue-theme-color);
	}

	& .button,
	& .button:visited,
	& .button:link,
	& button,
	& input[type="button"],
	& input[type="reset"],
	& input[type="submit"] {
		color: var(--color-white);
		border: 1px solid var(--dark-blue-theme-color);
		background: var(--dark-blue-theme-color);
	}

	& .button:hover,
	& .button:visited:hover,
	& .button:link:hover,
	& button:hover,
	& input[type="button"]:hover,
	& input[type="reset"]:hover,
	& input[type="submit"]:hover {
		border-color: var(--dark-blue-theme-color);
		color: var(--dark-blue-theme-color);
		background-color: var(--color-off-white);
	}

	& .button:active,
	& .button:focus,
	& .button:visited:active,
	& .button:visited:focus,
	& .button:link:active,
	& .button:link:focus,
	& button:active,
	& button:focus,
	& input[type="button"]:active,
	& input[type="button"]:focus,
	& input[type="reset"]:active,
	& input[type="reset"]:focus,
	& input[type="submit"]:active,
	& input[type="submit"]:focus {
		border-color: var(--dark-blue-theme-color);
		color: var(--dark-blue-theme-color);
		background-color: var(--color-off-white);
	}

	& table,
	& .wp-block-table table {

		& thead {

			& th {
				background-color: var(--blue-theme-color);
			}
		}
	}

	& .main-navigation {
		background-color: var(--blue-theme-color);

		& .menu {

			& li {

				& a {
					color: var(--color-white);
				}

				& .sub-menu {
					background-color: var(--blue-theme-color);
				}
			}
		}
	}

	& .top-navigation {
		background-color: var(--dark-blue-theme-color);

		& .menu {

			& li {

				& a {
					color: var(--color-white);
				}

				& .sub-menu {
					background-color: var(--dark-blue-theme-color);
				}
			}
		}
	}

	& .site-title {
		color: var(--blue-theme-color);
	}

	& .site-title a {
		color: var(--blue-theme-color);
	}

	& .site-description {
		color: var(--dark-blue-theme-color);
	}

	& .site-footer {
		background-color: var(--dark-blue-theme-color);

		& p {
			color: var(--color-white);

			& a {
				color: var(--color-white);

				&:hover,
				&:focus {
					color: var(--color-off-white);
				}
			}
		}
	}

	& .widget-title {
		color: var(--blue-theme-color);
		border-top: 1px solid var(--dark-blue-theme-color);
		border-bottom: 1px solid var(--dark-blue-theme-color);
	}

	& .widget_calendar {

		& .wp-calendar-table {

			& thead {

				& tr {
					background-color: var(--dark-blue-theme-color);

					& th,
					& td {
						background-color: var(--dark-blue-theme-color);
					}
				}
			}

			& tbody {

				& tr {

					& .pad {
						background-color: var(--dark-blue-theme-color);
					}

					& td {
						border-color: var(--dark-blue-theme-color);

						& a {
							color: var(--dark-blue-theme-color);
						}
					}
				}
			}
		}
	}

	& .tagcloud a {
		background-color: var(--dark-blue-theme-color);

		&:hover {
			background-color: var(--color-off-white);
			color: var(--dark-blue-theme-color);
		}
	}

	&.home {

		& .site-main {

			& .column {
				border-color: var(--dark-blue-theme-color);

				& .label-head {
					background-color: var(--dark-blue-theme-color);
				}
			}

			& .story-article {
				border-color: var(--dark-blue-theme-color);

				& .label-head {
					background-color: var(--dark-blue-theme-color);
				}
			}
		}
	}

	& #left-sidebar,
	& #right-sidebar {
		border-color: var(--dark-blue-theme-color);
	}

	& .breadcrumbs {

		& li {
			background-color: var(--dark-blue-theme-color);
			color: var(--color-white);

			& a {
				color: var(--color-white);
			}
		}

		& .separator {
			color: var(--dark-blue-theme-color);
		}
	}

	&.single {

		& .site-main {

			& .post-footer {

				& .post-navigation {

					& .previous-post,
					& .next-post {

						& p {
							color: var(--dark-blue-theme-color);

							& a {
								color: var(--dark-blue-theme-color);
							}
						}
					}
				}

				& .related-stories,
				& .latest-category {

					& h2 {
						background-color: var(--dark-blue-theme-color);
					}

					& .stories-container {

						& .story {

							& p {
								color: var(--dark-blue-theme-color);

								& a {
									color: var(--dark-blue-theme-color);
								}
							}
						}
					}
				}
			}
		}
	}

	&.page,
	&.error404 {

		& .entry-header {
			border-color: var(--dark-blue-theme-color);
		}
	}

	&.archive,
	&.blog,
	&.search {

		& .site-main {

			& .archive-posts {

				& .story-article {
					border-color: var(--dark-blue-theme-color);

					& .label-head {
						background-color: var(--dark-blue-theme-color);
					}
				}
			}
		}
	}
}
