@import "_custom-properties.css";
@import "_custom-mixins.css";

.home {

	&.has-two-sidebars,
	&.has-left-sidebar,
	&.has-right-sidebar {

		& .site-main {
			display: flex;
			flex-wrap: wrap;

			@supports ( grid-area: auto ) {
				display: grid;
				grid-template-columns: 1fr;
				grid-column-gap: 0;
				grid-row-gap: 0;
				grid-template-areas:
					"top"
					"one"
					"two"
					"three";
			}

			& .top-story,
			& .column-one,
			& .column-two,
			& .column-three {
				flex-basis: 100%;
			}

			& .top-story {

				@supports ( grid-area: auto ) {
					grid-area: top;
				}
			}

			& .column-one {

				@supports ( grid-area: auto ) {
					grid-area: one;
				}
			}

			& .column-two {

				@supports ( grid-area: auto ) {
					grid-area: two;
				}
			}

			& .column-three {

				@supports ( grid-area: auto ) {
					grid-area: three;
				}
			}

			& .column {

				& .label-head {
					margin: 0 0 10px;
					background-color: var(--color-off-black);
					@mixin roboto 16px, var(--color-white), 400, none;
					padding: 5px;
				}

				& .view-more-link {
					width: 100%;
					text-decoration: none;
					text-align: center;
					margin-bottom: 10px;

					&:visited {
						color: var(--color-white);

						&:hover,
						&:focus {
							color: var(--color-black);
						}
					}
				}
			}

			& .story-article {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid var(--color-black);

				& .label-head {
					margin: 0 0 10px;
					background-color: var(--color-off-black);
					@mixin roboto 16px, var(--color-white), 400, none;
					padding: 5px;
				}

				& .caption,
				& .photo-credit {
					font-size: 16px;
					margin: 0 0 0.5em;
				}

				& h2 {
					margin: 0 0 1rem;
				}

				& .byline {
					font-size: 16px;
					margin: 0 0 0.5em;
				}

				& .button {
					text-decoration: none;

					&:visited {
						color: var(--color-white);

						&:hover,
						&:focus {
							color: var(--color-black);
						}
					}
				}
			}
		}
	}
}

@media (--medium-up) {

	.home {

		&.has-two-sidebars,
		&.has-left-sidebar,
		&.has-right-sidebar {

			& .site-main {

				@supports ( grid-area: auto ) {
					grid-template-columns: 1fr 1fr;
					grid-template-areas:
						"top top"
						"one two"
						"three three";
				}

				& .top-story,
				& .column-three {
					flex-basis: 100%;
				}

				& .column-one,
				& .column-two {
					flex-basis: 50%;
				}

				& .top-story {
					margin-bottom: 10px;
				}

				& .column-one {
					padding-right: 10px;
					border-right: 1px solid var(--color-black);
				}

				& .column-two {
					padding-left: 10px;
				}

				& .column-three {
					padding-top: 10px;
					border-top: 1px solid var(--color-black);
				}
			}
		}
	}
}

@media (--large-up) {

	.home {

		&.has-right-sidebar {

			& .site-main {

				@supports ( grid-area: auto ) {
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-areas:
						"three top top"
						"three one two";
				}

				& .top-story{
					flex-basis: 66.7%;
				}

				& .column-three {
					flex-basis: 33.3%;
				}

				& .column-one,
				& .column-two {
					flex-basis: 33.3%;
				}

				& .top-story {
					border-bottom: 1px solid var(--color-black);
					margin-bottom: 10px;
					padding-left: 10px;
				}

				& .column-one {
					padding-right: 10px;
					padding-left: 10px;
					border-right: 1px solid var(--color-black);
				}

				& .column-two {
					padding-left: 10px;
				}

				& .column-three {
					padding-right: 10px;
					padding-top: 0;
					border-top: 0;
					border-right: 1px solid var(--color-black);
				}
			}
		}

		&.has-left-sidebar {

			& .site-main {

				@supports ( grid-area: auto ) {
					grid-template-columns: 1fr 1fr 1fr;
					grid-template-areas:
						"top top three"
						"one two three";
				}

				& .top-story{
					flex-basis: 66.7%;
				}

				& .column-three {
					flex-basis: 33.3%;
				}

				& .column-one,
				& .column-two {
					flex-basis: 33.3%;
				}

				& .top-story {
					border-bottom: 1px solid var(--color-black);
					margin-bottom: 10px;
					padding-right: 10px;
				}

				& .column-one {
					padding-right: 10px;
					border-right: 1px solid var(--color-black);
				}

				& .column-two {
					padding-left: 10px;
					padding-right: 10px;
				}

				& .column-three {
					padding-left: 10px;
					padding-top: 0;
					border-top: 0;
					border-left: 1px solid var(--color-black);
				}
			}
		}
	}
}
